@model EventModel

<div class="py-5 bg-light">
    <div class="container">

       

        <h3 class="text-center py-2">All Events</h3>
        <div class="row">
            <table class="table table-hover table-dark">
              
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Edit</th>

                </tr>
             
                    <tbody>
                        <tr>
                            @foreach (var data in (IEnumerable<EventModel>)ViewData["data"])
                            {
                        <tr>
                            <td>@data.Id</td>
                            <td>@data.Name</td>
                            <td>@data.Type</td>
                            <td><a asp-controller="Event" asp-action="Edit"  asp-route-Id="@data.Id"   class="btn btn-outline-secondary">Edit</a></td>
                        </tr>
                        }
                        </tbody>
            </table>
        </div>

    </div>
</div>